:root {
  --color-japanese-red: #bc002d;
  --color-japanese-red-bright: #ee0001;
  --color-black: #000;
  --color-white: #fff;
  --color-sun: var(--color-japanese-red-bright);

  --color-backgroud-primary: var(--color-white);

  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 100%;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

#sky {
  position: relative;
  width: 100%;
  height: 100svh;
  /* background-color: #fff; */
  background-color: var(--color-backgroud-primary);
  overflow: hidden;
}

#sky * {
  margin: 0;
}

#sun, #fake-sun {
  left: calc(50% - 25vmin);
  mix-blend-mode: difference;
  animation-name: SunBottomToCenter, ScaleSun;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards, both;
  animation-iteration-count: 1, infinite;
  animation-delay: 0s, 2s;
  animation-duration: 1s, 8s;
}

#fake-sun, #sun {
  position: absolute;
}

#fake-sun {
  pointer-events: none;
}

@keyframes SunBottomToCenter {
  0% {
    top: 100%;
  }
  100% {
    top: calc(50% - 25vmin);
  }
}

@keyframes ScaleSun {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-backgroud-primary: var(--color-black);
  }

  html {
    color-scheme: dark;
  }

  #fake-sun svg circle {
    fill: var(--color-backgroud-primary);
  }
}
