.LocationCard {
  width: 100vw;
  flex: 1 0 auto;
  height: 100%;
  padding: 1rem 1rem 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  scroll-snap-align: center;
}

.LocationCard__location {
  font-size: 20px;
  font-weight: 750;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  animation: locationMoveIn 1s ease-in-out;
}

.LocationCard__time {
  font-size: 1rem;
  font-weight: 300;
  animation: fadeIn 2s ease-in-out;
}

.LocationCard__suninfo {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.LocationCard__suninfo div {
  display: flex;
  gap: 4px;
  color: var(--color-jp-red-2-aa, red);
}

.LocationCard__sunrise {
}
.LocationCard__sunset {
}

@keyframes locationMoveIn {
  from {
    opacity: 0;
    transform: translateY(-200%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
